Distant_Horizons_server_data
\[off]
\[delete]
XaeroWaypoints
XaeroWaypoints_BACKUP032021
XaeroWorldMap
crash-reports
saves
server-resource-packs
config/xaerominimap_entities.json
config/xaerominimap-common.txt
config/xaerominimap.txt
config/xaeropatreon.txt
config/xaeroworldmap-common.txt
config/xaeroworldmap.txt
config/jei
logs
authlib-injector
emi.json
icon.png
knownkeys.txt
patchouli_data.json
screenshots
local
servers.dat_old
usercache.json
usernamecache.json
shaderpacks
rhino.local.properties
fancymenu_data
options.txt
authlib-injector.log
datapacks